:root {
    box-sizing: border-box;
    font-size: calc(0.25em + 1vw);
    list-style: none;
}

*,
::before,
::after {
    box-sizing: inherit;
    list-style: inherit;
}
body {
    margin: 0;
    font-family: sans-serif;
}
.header-container {
    background-color: #1f2937;
    padding: 2em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 6em;
    color: white;
}
header {
    margin: 0 2em;
}
.main-button {
    margin: 0;
    font-weight: 900;
}
.nav-flex {
    margin: 0;
    padding-left: 0;
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.nav-flex li {
    color: white;
    padding: 0;
}
.nav-flex a {
    color: inherit;
    text-decoration: none;
}
.nav-flex a:hover {
    color: khaki;
}
.main-button-li {
    margin-right: auto;
}

.margin {
    margin-right: 2em;
}

.hero-flex {
    display: flex;
    margin-top: 6em;
    background-color: black;
    border-radius: 1em;
    overflow: hidden;
}
.overwiew {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em;
}
.overwiew h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4em;
}
.overwiew a {
    text-decoration: none;
    padding: 0.5em 2em;
    color: white;
    background-color: rgb(64, 64, 228);
    border-radius: 1em;
    margin-top: 1em;
}
.overwiew p {
    text-align: center;
    font-size: 0.8rem;
}
#heroimg {
    width: 30%;
    object-fit: cover;
}

.tier-list-section h2 {
    text-align: center;
    font-size: 1.5em;
    font-family: monospace;
}
.tier-list-section h3 {
    text-align: center;
    font-family: fantasy;
    font-size: 1.5em;
}
.tier-list {
    width: 80%;
    margin: auto;
}
.tier-list-flex {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 80%;
    margin: 1em auto;
}

.tier-list-media {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(109, 109, 52);
    border-radius: 1em;
    overflow: hidden;
}
.tier-list-media h4 {
    margin-top: 0.5em;
    color: red;
    margin-bottom: 0;
    font-size: 0.9em;
    padding: 1em;
}
.tier-list-media p {
    padding: 0.2em;
    margin-top: 0;
    font-size: 0.8em;
}

.tier-list-media img {
    width: 140%;
}

.quote-container {
    background-color: #E5E7EB;
    margin-top: 5em;
}

.quote-content-container{
    text-align: left;
    width: 60%;
    margin: auto;
    padding: 3em;
}
.quote {
    font-size: 1.2em;
}
.quote-content-container .author {
    text-align: right;
    font-weight: bold;
}

.contribute-container{
margin: 5em;
}

.contribute-box {
    background-color: #3882F6;
    color: rgb(255, 255, 255);
    padding: 0.1em ;
    border-radius: 0.5em;
}

.contribute-content {
    margin: 1.5em 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.call {
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 0;
}

.under-cal {
    margin-top: 0;
    font-size: 0.9em;
}

.text-contribute {
    margin-right: 1em;
}
.contribute-content  {
    margin-top: ;
}
.under-call {
    margin-top: 0;
}

.contribute-content a {
    text-decoration: none;
    color: white;
    padding: 0.2em 1.2em;
    border: solid;
    border-radius: 0.5em;
    border-width: 0.2em;
    font-size: 0.8em;
}

footer {
    background-color: rgb(52, 60, 71);
    color: white;
    padding: 1em;
    text-align: center;
    font-size: 0.8em;
}